.preview {
  margin: 1.5rem 0;

  #canvas {
    border: 1px solid #eee;
    padding: 10px;
    background: #fff;
    margin-bottom: 1rem;
  }
}

.tabcontent {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;

  &:first-child {
    display: block;
  }
}
