.preview {
  margin: 3rem 0;

  #canvas {
    border: 1px solid #eee;
    padding: 10px;
    background: #fff;
    margin-bottom: 1rem;
  }
}

.tabcontent {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;

  &:first-child {
    display: block;
  }
}

.nav-breadcrumb {
  padding: 20px;
  background: #EFEEF4;

  a:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    content: "\f104";
    margin-right: 8px;
  }

  a:hover {
    text-decoration: none;
  }
}
