.uploader {
  margin-top: 3rem;

  .uploader-title {
    text-align: center;

    h2 {
      font-weight: bold;
    }

    p {
      font-size: 1.125rem;
    }
  }

  #file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  #file + label {
    position: relative;
    max-width: 540px;
    min-height: 320px;
    margin: 0 auto;
    font-size: 1.125rem;
    background-color: #fff;
    display: block;
    cursor: pointer;
    border: 2px dashed #C4CDD5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  #file + label img {
    margin-bottom: 1.5rem;
  }

  #file:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
  }
}
