.btn {
  padding: 0.75rem 2rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.10), 0 4px 6px 0 rgba(0,0,0,0.05), inset 0 1px 0 0 rgba(255,255,255,0.10);
  &.btn-primary {
    background-color: $blue;
    font-weight: bold;
  }
}
