.collection {
  margin: 3rem 0;

  h2 {
    font-weight: bold;
    margin-bottom: 0;
  }

  .collection-title {
    margin-bottom: 1.5rem;

    button {
      padding: 0;
    }
  }

  .collection-card {
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,.03);
  }
}
