<section class="banner" style="background-image: url(<%= image_path "banner.jpg" %>);">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Making a chart? <span>Easy as pie</span></h1>
          <h2>You will never have to copy and paste again. Simply upload your excel file to begin creating your chart. </h2>
          <%= link_to "Get Started", collections_path(@collection), method: :POST, class: "btn btn-primary" %>
        </div>
      </div>
    </div>

</section>
