<nav class="navbar fixed-top p-3 bg-white shadow-sm">
  <div class="container d-flex justify-content-between">
    <a class="logo" href="#">
      <span>BizWiz</span>
      <span>Charts made easy</span>
    </a>
    <a href="#" class="btn btn-primary">Get Started</a>
  </div>
</nav>
