<nav class="navbar fixed-top p-3 bg-white shadow-sm">
  <div class="container d-flex justify-content-between">
    <%= link_to root_path, class: "logo" do %>
      <%= content_tag :span, "BizWiz" %>
      <%= content_tag :span, "Charts made easy" %>
    <% end %>
    <%= link_to "Get Started", collections_path(@collection), method: :POST, class: "btn btn-primary" %>
  </div>
</nav>
